/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2013, 8:43:41 AM
    Author     : Phil
*/

tr[class*="client"]
{
    display:none;   
}

#editClass:last-child
{
    text-align: right;
}

.homecaretable tbody tr td:first-child
{
    width:150px;
}

.homecaretable tbody tr:last-child
{
    border-bottom: 1px solid #000000;
}

/* 
    Created on : Dec 5, 2013, 8:43:48 AM
    Author     : Phil, Rob, Kenneth
*/

div#file_info
{
    float: right;
    margin-top: 2%;
    margin-right: 8%;
    color: #EEEEEE;
    background-color: #656565;
    opacity: 0.8;
    border-bottom: 2px solid #ff4c4c;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding: 5px;
    width: 300px;
    min-height: 300px;
}

div#documents_container
{
    float: left;
    padding: 5px;
    border-bottom: 2px solid #ff4c4c;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color: #656565;
    opacity: 0.8;
    color: #EEEEEE;
    width: 600px;
    min-height: 300px;
    margin-top: 2%;
    margin-left: 10%;
}

div#doc_list
{
    float:left;
    width: 50%;
}

div#upload
{
    float: right;
    width: 50%;
}

ul.docs
{
    display: none;
}

li.doc
{
    cursor: pointer;
    list-style: none;
}