/* 
    Document   : default
    Created on : 27-jun-2013, 1:12:39
    Author     : Phil
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    color: grey;
    background-image: url(/images/bkgimg.png); 
}


/* Footer at end of every page */
#footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
