/* 
    Created on : Dec 5, 2013, 8:43:48 AM
    Author     : Phil, Rob, Kenneth
*/

div#info
{
    float: right;
    margin-top: 7%;
    margin-right: 10%;
    color: #EEEEEE;
    background-color: #656565;
    opacity: 0.8;
    border-bottom: 2px solid #ff4c4c;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding: 5px;
    width: 300px;
    min-height: 300px;
    text-align: center;
}

div#info a
{
    color: #EEEEEE;
}

div#file_info
{
    width: 100%;
    text-align: center;
}

div#map_info
{
    width: 100%;
    height: 60px;
    text-align: center;
}

div#documents_container
{
    float: left;
    padding: 5px;
    border-bottom: 2px solid #ff4c4c;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color: #656565;
    opacity: 0.8;
    color: #EEEEEE;
    width: 600px;
    min-height: 300px;
    margin-top: 7%;
    margin-left: 12%;
}

div#doc_list
{
    float:left;
    height: 300px;
    width: 49%;
}

div#upload
{
    padding: 3px;
    float: right;
    width: 49%;
}

li.map
{
    cursor: pointer;
    list-style: none;
    list-style-image: url(/images/folder.png);
}

ul.maps li:hover
{
    text-decoration: underline;
}

ul.docs
{
    display: none;
}

li.doc
{
    cursor: pointer;
    list-style: none;
}