
/* 
    Created on : Dec 5, 2013, 8:44:22 AM
    Author     : Phil
*/
body
{
    font-size: 35%;
}

tr[class*="user"]
{
    display:none;   
}



/* This CSS is used for the Show/Hide functionality. */




